 DATABASE_URL=
 QBITUSER=
 QBITPASS=
 QBITIP=http://192.168.0.90:8080
 #CHECK_INTERVAL_HOURS=6
 HA_WEBHOOK_URL=
HA_WEBHOOKERROR_URL=
#url for running this app again when error occurs
RADARR_URL=http://192.168.0.90:7878
RADARR_API_KEY=

SONARR_URL=http://192.168.0.90:8989
SONARR_API_KEY=
OMDB_API_KEY=

RADARR_QUALITY_PROFILE_ID=9
RADARR_ROOT_FOLDERPATH=/data/2tb/media/English